@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');


/* CSS RESET */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables initalization*/
:root {
   --standard-top-padding: 2em; /* ensures uniform styling */

   --container-HEIGHT: 100vh;

   --marginals-HEIGHT: 10vh;

   /*  Fonts */
   --fontFamily: "Work Sans", sans-serif;
   --backgroundColor-BODY: #000;
   --fontColor: #fff;

   --link-COLOR: #fff;
   --linkHover-COLOR: grey;
   --linkActive-COLOR: white;

}

/* Default Styles */
html{
    scroll-behavior: smooth;
    background-color: var(--backgroundColor-BODY);
    color: var(--fontColor);
    font-family: var(--fontFamily);
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.03rem;
}
h1, h2 {
    letter-spacing: 0.2rem;
}
p{
    line-height: 1.5rem;
}
a:any-link { /* This pseudo-class selector selects links that have been visited and those that have not been visited. */
    color: var(--link-COLOR);
    text-decoration: none;
}

a:hover, a:focus-visible {
    color: var(--linkHover-COLOR);
    font-size: larger;
}

a:active {
    color: var(--linkActive-COLOR);
}

#tsparticles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1; /* behind your content */
}


/* Header section Styles */
.header {
    grid-area: header;
    display: flex;  /* turns the children into flexible items */
    height: var(--marginals-HEIGHT);
    font-family: "Poppins", sans-serif;

    font-size: large;
    font-weight: 300;
    letter-spacing: -.05rem;
}
.header__logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.header__links {
    list-style-type: none ;
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}
.header__email {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Homepage section */
.homepage {
    width: 100%;
    grid-area: homepage;
    height: calc(100vh - 10vh);

    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);

    font-family: "Poppins", sans-serif;
    letter-spacing: -.05rem;
    font-weight: lighter;
}

.homepage-box {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage__p-container {
    display: flex;
    gap: 2rem;
    padding-bottom: 10rem ;
    padding-top: 1rem;
}
.homepage__h1{
    font-size: clamp(2.0rem, 7vw, 3.5rem);
    
}
.homepage p {
    font-size: clamp(1.0rem, 3vw, 1.875rem);
}



/* 'about' parent container */
.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main aside";
    min-height: var(--container-HEIGHT);

    font-family: "Poppins", sans-serif;
    letter-spacing: -.05rem;
}

/* main section */
.main {
    grid-area: main;
    position: sticky;
    top: 3rem; /* required to activate 'sticky' */
    align-self: start;
    height: fit-content;
    padding: 5rem;
}
.main h1 {
    /* font-size: 4rem; */
    font-size: clamp(2.0rem, 7vw, 3.5rem);
}
.main p {
    margin: 0 3rem 2rem 0; /* top-right-bottom-left */
    padding: 5rem 0 0 0;
    /* font-size: 2rem; */
    font-size: clamp(1.5rem, 3vw, 2.0rem);
    line-height: 3rem;
    letter-spacing: none;
}



/* aside section */
.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
}
.aside section {
    padding-bottom: 2rem;
}
.aside h2 {
    font-size: 1.6rem;
    letter-spacing: -.05rem;
}
.icon__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2 / 4;
    gap: 2rem;
    justify-items: end;
    padding: 2rem 1rem;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    gap: 0.5rem;
}
.icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.icon span {
  font-size: 1rem;
  color: white;
}


/* projects section */
.projects {
    grid-area: projects;
    min-height: var(--container-HEIGHT);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}
.projects_h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    /* font-size: 3rem; */
    font-size: clamp(2.0rem, 8vw, 3.0rem);
    grid-column: 2/5;
}   
.list_container {
  grid-column: 2 / 6; /* Start at column 2, end before 5 (spans 2,3,4) */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Show 2 columns inside */
  gap: 20px;
}

.project__cont {
  border: 1px solid #cccccc36;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.text-area h2 {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: -.05rem;
}
.text-area p {
  margin-top: 1rem;
  font-size: 1.5rem;
}


/* footer section */
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--marginals-HEIGHT);
}
.footer__p-container {
    display: flex;
    gap: 1rem;
}



/* body section- encapsulates entire page */
.global-container {
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "homepage homepage homepage"
        "about about about"
        "projects projects projects"
        "footer footer footer";

}



/* MEDIA QUERIES */
 @media (max-width: 1050px) {
    .homepage .homepage__p-container {
    text-align: center;
  }
 }

 @media (max-width: 500px) {
  .global-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "homepage"
      "about"
      "projects"
      "footer";
  }

  .homepage .homepage__p-container .homepage__pipe {
    display: none;
  }
  .homepage .homepage__p-container {
    display: block;
    text-align: center;
  }
  .homepage .homepage__p1 {
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

 /*  aligns child containters in a single column  */
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "aside";
  }
  .about .main {
    height: 100vh;
  }
  .about .aside .icon__container {
    gap: 0.5rem;
    padding: 1rem 0.5rem;
}
  .main {
    grid-area: main;
    position: relative; /* sticky not useful on small screens */
    padding: 2rem 1rem;
  }

  .aside {
    grid-area: aside;
    padding: 1rem;
  }


  /* aligns projects in a single column */
  .projects .list_container {
    grid-template-columns: repeat(1, 1fr);
  }
}