@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Work+Sans&display=swap');


/* CSS RESET */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables initalization*/
:root {
   --standard-top-padding: 2em; /* ensures uniform styling */

   --container-HEIGHT: 100vh;

   --marginals-HEIGHT: 10vh;

   /*  Fonts */
   --fontFamily: "Work Sans", sans-serif;
   --backgroundColor-BODY: #000;
   --fontColor: #fff;

   --link-COLOR: #fff;
   --linkHover-COLOR: grey;
   --linkActive-COLOR: white;

}

/* Default Styles */
html{
    scroll-behavior: smooth;
    background-color: var(--backgroundColor-BODY);
    color: var(--fontColor);
    font-family: var(--fontFamily);
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.03rem;
}
h1, h2 {
    letter-spacing: 0.2rem;
}
p{
    line-height: 1.5rem;
}
a:any-link { /* This pseudo-class selector selects links that have been visited and those that have not been visited. */
    color: var(--link-COLOR);
    text-decoration: none;
}

a:hover, a:focus-visible {
    color: var(--linkHover-COLOR);
    font-size: larger;
}

a:active {
    color: var(--linkActive-COLOR);
}

#tsparticles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1; /* behind your content */
    }


/* Header section Styles */
.header {
    grid-area: header;
    height: var(--marginals-HEIGHT);
    font-family: "Poppins", sans-serif;
    
    display: flex;  /* turns the children into flexible items */

    font-size: large;
    font-weight: 300;
    letter-spacing: -.05rem;
}
.header__logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.header__links {
    list-style-type: none ;
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}
.header__email {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Homepage section */
.homepage {
    width: 100%;
    grid-area: homepage;
    height: calc(100vh - 10vh);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: "Poppins", sans-serif;
    letter-spacing: -.05rem;
    font-weight: lighter;
}

.homepage__p-container {
    display: flex;
    gap: 2rem;
    padding-bottom: 10rem ;
    padding-top: 1rem;
}
.homepage h1{
    font-size: 70px;
    
}
.homepage p {
    font-size: 30px;
}



/* main section */
.main {
    grid-area: main;
    /* padding-top: var(--standard-top-padding); */
    height: var(--container-HEIGHT);
    padding: 5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
}
.main p {
    margin-bottom: 2rem;
    margin-right: 3rem;
    font-size: 1.7rem;
    line-height: 3rem;
}

/* aside section */
.aside {
    grid-area: aside;
    height: var(--container-HEIGHT);
}

/* skills section */
.skills {
    grid-area: skills;
    height: var(--container-HEIGHT);
}

/* projects section */
.projects {
    grid-area: projects;
    height: var(--container-HEIGHT);
}


/* footer section */
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--marginals-HEIGHT);
}
.footer__p-container {
    display: flex;
    gap: 1rem;
}

/* body section- encapsulates entire page */
.global-container {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "homepage homepage homepage"
        "main main aside"
        "projects projects skills"
        "footer footer footer";

}